{{> head }} {{> navbar }}
<div class="container">

    <div class="row">

        <div class="col-4">
            <h1>Node</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit minima mollitia facere voluptatem nesciunt distinctio
                molestiae? Temporibus, distinctio! Veniam, libero!
            </p>
        </div>
        <div class="col-8">
            <img src="assets/img/nodejs_logo.png" alt="" class="img-thumbnail">
        </div>

    </div>

</div>
{{> footer}}